[submodule "qtcreator"]
	path = qtcreator
	url = ../qt-creator/qt-creator
[submodule "qtquickdesigner"]
	path = qtquickdesigner
	url = ../qt-creator/tqtc-plugin-qtquickdesigner
[submodule "telemetry"]
	path = telemetry
	url = ../qt-creator/plugin-telemetry
