[submodule "qtcreator"]
	path = qtcreator
	url = ../qt-creator.git
[submodule "qtquickdesigner"]
	path = qtquickdesigner
	url = ../tqtc-plugin-qtquickdesigner.git
[submodule "telemetry"]
	path = telemetry
	url = ../plugin-telemetry.git
[submodule "qmldom_standalone"]
	path = qmldom_standalone
	url = ssh://codereview.qt-project.org:29418/qt/qtdeclarative
	branch = dev
