[submodule "qtcreator"]
	path = qtcreator
	url = ../qt-creator.git
	branch = 6.0
[submodule "qtquickdesigner"]
	path = qtquickdesigner
	url = ../tqtc-plugin-qtquickdesigner.git
	branch = 6.0
[submodule "telemetry"]
	path = telemetry
	url = ../plugin-telemetry.git
	branch = 6.0
[submodule "qmldom_standalone"]
	path = qmldom_standalone
	url = ../../qt/qtdeclarative.git
	branch = dev
